@property --clr-start {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
}

@property --clr-end {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
}

.button {
    display: block;
    cursor: pointer;

    width: max-content;
    padding: 16px;
    border: unset;
    border-radius: 64px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    background: linear-gradient(120deg, var(--clr-start), var(--clr-end));
    transition: --clr-start 125ms ease-in-out, --clr-end 125ms ease-in-out, color 125ms;

    &.red { --clr-start: var(--clr-1); --clr-end: var(--clr-1); }
    &.orange { --clr-start: var(--clr-2); --clr-end: var(--clr-2); }
    &.yellow { --clr-start: var(--clr-3); --clr-end: var(--clr-3); }
    &.green { --clr-start: var(--clr-4); --clr-end: var(--clr-4); }
    &.cyan { --clr-start: var(--clr-5); --clr-end: var(--clr-5); }
    &.blue { --clr-start: var(--clr-6); --clr-end: var(--clr-6); }
    &.purple { --clr-start: var(--clr-7); --clr-end: var(--clr-7); }
    &.pink { --clr-start: var(--clr-8); --clr-end: var(--clr-8); }

    &.gradient {
        &\:b2pu { --clr-start: var(--clr-6); --clr-end: var(--clr-7); }
    }

    &.hover {
        &\:red:hover { --clr-start: var(--clr-1); --clr-end: var(--clr-1); }
        &\:orange:hover { --clr-start: var(--clr-2); --clr-end: var(--clr-2); }
        &\:yellow:hover { --clr-start: var(--clr-3); --clr-end: var(--clr-3); }
        &\:green:hover { --clr-start: var(--clr-4); --clr-end: var(--clr-4); }
        &\:cyan:hover { --clr-start: var(--clr-5); --clr-end: var(--clr-5); }
        &\:blue:hover { --clr-start: var(--clr-6); --clr-end: var(--clr-6); }
        &\:purple:hover { --clr-start: var(--clr-7); --clr-end: var(--clr-7); }
        &\:pink:hover { --clr-start: var(--clr-8); --clr-end: var(--clr-8); }

        &\:gradient {
            &\:b2pu:hover { --clr-start: var(--clr-6); --clr-end: var(--clr-7); }
        }
    }
}