.header {
    position: absolute;
    
    height: 64px;
    width: 100%;

    background: var(--clr-retro-bg02);

    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        max-width: var(--content-width);

        .title { color: var(--light0) }
    }
}