.main\:lander {
    height: 100vh;
    overflow: hidden;

    >.container {
        flex-direction: column;
        align-items: center;
        width: min(100%, 768px);

        .background {
            position: absolute;
            transform: scale(1.2);
            top: calc(50vh - 256px);
        }

        .logo {
            position: absolute;
            top: 50vh;
            height: 384px;
            transform: translate(256px, -256px);
        }
    }

    .lander\:text {
        flex-direction: column;
        h1 { font-size: 56px; width: 384px; margin-bottom: 0px; }
        p { font-size: 20px; width: 512px; margin-bottom: 8px; }
    }
}

@media screen and (max-width: 768px) {
    .main\:lander {
        >.container {
            .background {
                top: 50vh;
                transform: translateY(-92.5%) scale(1.0);
            }

            .logo {
                top: 50vh;
                right: 0;
                transform: translateY(-85%);
            }
        }
    }
}

@media screen and (max-width: 568px) {
    .main\:lander {
        >.container {
            .background {
                transform: translateY(-95%);
            }

            .logo {
                right: auto;
                transform: translateY(-100%);
                aspect-ratio: 1;
            }

            .lander\:text {
                p { width: 100%; }
            }
        }
    }
}