@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --content-width: min(calc(100% - 32px), 768px);

  --clr-light-1: #F2F2F2;
  --clr-light-2: #C2C2C2;

  --clr-dark-1: #2F2F2F;





  --clr-retro-bg01: #FAF2E3;
  --clr-retro-bg02: #3B2527;

  --clr-retro-red: #EC5042;
  --clr-retro-orange: #F19145;
  --clr-retro-yellow: #F0CA45;
  --clr-retro-green: #B8C156;
  --clr-retro-blue: #A3D2CA;

  --light0: #f8f8f8;
  --light1: #e8ecf0;

  --dark0: #1f2128;
  --dark1: #242731;
  --dark3: #2f323b;

  --clr-1: #F65858;
  --clr-2: #F6A858;
  --clr-3: #F6F658;
  --clr-4: #58F672;
  --clr-5: #58F6C1;
  --clr-6: #58C1F6;
  --clr-7: #7258F6;
  --clr-8: #F658A7;
}

* {
  position: relative;
  padding: unset;
  margin: unset;
  box-sizing: border-box;

  // outline: 1px dashed black;
}

html { scroll-behavior: smooth; background-color: var(--clr-light-1); }

html, button, input, select, textarea, h1, h2, h3, h4, h5, p, a {
  font-family: 
      'Poppins', 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, 
      Cantarell, "Helvetica Neue", sans-serif;

  text-decoration: none;
}

ul, ol, li {
  text-decoration: none;
  list-style: none;
}


/* ------------------------ Text Helpers ------------------------ */
.txt.left { text-align: left; }
.txt.center { text-align: center; }
.txt.right { text-align: right; }

.txt.light { color: var(--clr-light-1); }
.txt.dark { color: var(--clr-dark-1); }

.txt.size10 { font-size: 10px; }
.txt.size15 { font-size: 15px; }
.txt.size20 { font-size: 20px; }
.txt.size25 { font-size: 25px; }

.txt.size8 { font-size: 8px; }
.txt.size12 { font-size: 12px; }
.txt.size16 { font-size: 16px; }
.txt.size24 { font-size: 24px; }

.txt.bold { font-weight: bold; }
.txt.shadow { text-shadow: black 1px 0 8px; }

.txt\:left { text-align: left; }
.txt\:center { text-align: center; }
.txt\:right { text-align: right; }

.txt {
  &\:light { color: var(--clr-light-1); }
  &\:dark { color: var(--clr-dark-1); }
  &\:red { color: var(--clr-1); }
  &\:orange { color: var(--clr-2); }
  &\:yellow { color: var(--clr-3); }
  &\:green { color: var(--clr-4); }
  &\:cyan { color: var(--clr-5); }
  &\:blue { color: var(--clr-6); }
  &\:purple { color: var(--clr-7); }
  &\:pink { color: var(--clr-8); }

  &\:hover {
    &\:light:hover { color: var(--clr-light-1); }
    &\:dark:hover { color: var(--clr-dark-1); }
    &\:red:hover { color: var(--clr-1); }
    &\:orange:hover { color: var(--clr-2); }
    &\:yellow:hover { color: var(--clr-3); }
    &\:green:hover { color: var(--clr-4); }
    &\:cyan:hover { color: var(--clr-5); }
    &\:blue:hover { color: var(--clr-6); }
    &\:purple:hover { color: var(--clr-7); }
    &\:pink:hover { color: var(--clr-8); }

  }
}