@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {
  --content-width: 768px;
  
  --light0: #f8f8f8;
  --light1: #e8ecf0;

  --dark0: #1f2128;
  --dark1: #242731;
  --dark3: #2f323b;

  --color1: #FF9500;
  --color2: #CC3399;
  --color3: #AA00FF;
  --color4: #8000FF;
  --color5: #5500FF;
  --color6: #2D1AFF;
  --color7: #3355FF;
  --color8: #3399FF;
  --color9: #1AFFB2;
}

* {
  position: relative;
  padding: unset;
  margin: unset;
  box-sizing: border-box;

  // outline: 1px dashed black;
}

html { scroll-behavior: smooth; }

html, button, input, select, textarea, h1, h2, h3, h4, h5, p, a {
  font-family: 
      'Poppins', 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, 
      Cantarell, "Helvetica Neue", sans-serif;

  text-decoration: none;
}

ul, ol, li {
  text-decoration: none;
  list-style: none;
}