.page.dev {
  min-height: 100vh;

  .cover {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100vh;
      width: 100%;

      .colors {
          position: absolute;
          aspect-ratio: 1;
          height: 75vw;
          max-height: 100%;
          left: 0;
          top: 0;
      }

      .logo {
          width: 75vh;
          max-width: 640px;

          .image { 
              width: 100%;
              height: 100%;

              max-width: 100%;
              max-height: 100%;

              object-fit: contain;

              filter: brightness(0) saturate(100%) invert(12%) sepia(3%) saturate(7359%) hue-rotate(306deg) brightness(103%) contrast(89%);
          }
      }
  }
}